<section class="card"> 
    <h2>{{ title }}</h2>

    <form class="form">
        <label>
            Nome
            <input type="text" placeholder="Ex: Notebook Dell">
        </label>
        <label>
            Descrição
            <input type="text" placeholder="Ex: Notebook Dell Inspiron 15">
        </label>
        <label>
            Preço
            <input type="number" placeholder="3500">
        </label>
        <button type="button" (click)="salvar()"> Cadastrar </button>
    </form>
</section>
